
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background: #ffffff;
    margin: 0;
    line-height: 1.6;
    min-block-size: 100vh;
    padding: 5vmin;
    margin-left: 30px;
}

/* HEADER + LOGO * NAME */
header {
  background-color:#fff;
  width: 100%;
  height: 12%;
  display: block;
  top: 0;
  position: fixed;
}

.logo {
  position: fixed;
  right: 187px;
  width: 51px;
  margin: 10px;
  cursor: pointer;
}

.logo-name {
  font-family: 'Raleway', sans-serif;
  font-size: 23px;
  position: fixed;
  right:57px;
  text-decoration: none;
  color: black;
}

/* SIDENAV + HAMBURGER + MENU */
.sidenav {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #5f717f;
  overflow-x: scroll;
  padding-top: 20px;
  padding-left: 20px;
}

.hamburger {
  position: fixed;
  display: block;
  width: 40px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  align-items: center;
  margin-left: -4px;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ffffff;
  margin: 10px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.bar:hover {
  color: red;
}

.menu_components {
  display: block;
  position: fixed;
  top: 0;
  right: 100%;
  width: 10%;
  min-height: 100vh;
  z-index: 98;
  padding-top: 75px;
  transition: 1s;
  margin-top: 0;
  margin-right: 130px;
}

.menu_components.is-active {
  left: 100px;
  padding-left: 0px;
  margin-left: 70px;
  height: 100%;
  width: 1370px;
  z-index: 98;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.9);
  display: block;
  position: fixed;
}

.menu a {
  padding: 12px 16px;
  margin: 0 auto 16px;
  width: 100%;
  display: block;
  color: #fff;
  text-shadow: 0 0 10px #fff;
  text-shadow: 0 0 20px #fff;
  text-shadow: 0 0 30px #d6a55b;
  text-shadow: 0 0 40px #d6a55b;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
}

.menu a:hover {
  color: #e2c7a0;
  text-shadow: 0 0 10px #fff;
  text-shadow: 0 0 20px #fff;
}

/*ALL IMAGES*/
img {
    max-width:100%;
    height:auto;
}

/* HOME PAGE*/
.home-images {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  margin-left: 35px;
}

.column-home {
  -ms-flex: 25%; /* IE 10 */
  flex: 25%;
  padding: 0 13px;
}

.column-home img {
  margin-top: 70px;
  vertical-align: middle;
}

/* IMAGE OVERLAY*/
  .container-overlay {
  position: relative;
  width: 100%;
}

.overlay-img {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container-overlay:hover .overlay-img {
  opacity: 0.15;
}

.container-overlay:hover .middle {
  opacity: 1;
}

.text1 {
  color: black;
  font-size: 35px;
  padding: 16px 0;
  text-transform: uppercase;
  font-family: 'Elsie', cursive;
}

.text2 {
  color: black;
  font-size: 25px;
  padding: 0 32px;
  text-transform: uppercase;
  font-family: 'Elsie', cursive;
}

/* FASHION PAGE*/
.portfolio-images {
display: -ms-flexbox; /* IE 10 */
display: flex;
-ms-flex-wrap: wrap; /* IE 10 */
flex-wrap: wrap;
padding: 0 4px;
margin-left: 35px;
}

.column-portfolio {
  -ms-flex: 33%; /* IE 10 */
  flex: 33%;
  padding: 0 4px;
  margin-top: 70px;
}

.column-portfolio img {
  margin-top: 8px;
  vertical-align: middle;
}

/* FASHION END*/

/* PROJECTS PAGE*/
.project-images {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  margin-left: 35px;
}

.column-projects {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 13px;
}

.column-projects img {
  margin-top: 70px;
  vertical-align: middle;
}

.project-item {
  text-decoration:none;
}

.pr-box1 {
  background-color: #fff4e9;
  width:100%;
  margin-top: 70px;
  vertical-align: middle;
  padding-top: 27.3%;
  padding-bottom: 27.3%;
  font-family: 'Elsie', cursive;
}

.pr-box2 {
  background-color: #fff4e9;
  width:100%;
  margin-top: 70px;
  vertical-align: middle;
  padding-top: 31.6%;
  padding-bottom: 31.6%;
  font-family: 'Elsie', cursive;
}

.head1 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: -30px;
  color: black;
  text-align: center;
}

.head2 {
  font-size: 18px;
  text-transform:lowercase;
  color: black;
  display: flex;
  justify-content: flex-end;
  padding-right: 170px;
  text-align: center;
  padding-bottom: 20px;
}

.head3 {
  font-size: 18px;
  color: black;
  display: flex;
  padding-left: 150px;
  padding-right: 130px;
  font-family: 'Roboto', sans-serif;
}

.head4 {
  font-size: 18px;
  text-transform:lowercase;
  color: black;
  display: flex;
  justify-content: flex-end;
  padding-right: 230px;
  text-align: center;
  padding-bottom: 20px;
}

.head5 {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: -30px;
  color: black;
  text-align: center;
  margin-top: -46px;
}

.head6 {
  font-size: 18px;
  text-transform:lowercase;
  color: black;
  display: flex;
  justify-content: flex-end;
  padding-right: 170px;
  text-align: center;
  padding-bottom: 20px;
}

.head7 {
  font-size: 18px;
  color: black;
  display: flex;
  padding-left: 150px;
  padding-right: 130px;
  font-family: 'Roboto', sans-serif;
}
/* PROJECTS PAGE*/

/* RITCHIE PAGE*/
.ritchie-images {
display: -ms-flexbox; /* IE 10 */
display: flex;
-ms-flex-wrap: wrap; /* IE 10 */
flex-wrap: wrap;
padding: 0 4px;
margin-left: 35px;
}

.column-ritchie {
  -ms-flex: 33%; /* IE 10 */
  flex: 33%;
  padding: 0 4px;
}

.column-ritchie img {
  margin-top: 70px;
  vertical-align: middle;
}
/* RITCHIE END*/

/* CORONA PAGE*/
.corona-images {
display: -ms-flexbox; /* IE 10 */
display: flex;
-ms-flex-wrap: wrap; /* IE 10 */
flex-wrap: wrap;
padding: 0 4px;
margin-left: 35px;
}

.column-corona {
  -ms-flex: 33%; /* IE 10 */
  flex: 33%;
  padding: 0 4px;
}

.column-corona img {
  margin-top: 70px;
  vertical-align: middle;
}
/* CORONA END*/

/* ABOUT PAGE*/
.about-images {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  margin-left: 35px;
}

.column-about {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 13px;
}

.column-about img {
  margin-top: 70px;
  vertical-align: middle;
  width: 100%;
}

.about-item {
  text-decoration:none;
}

.box1 {
  background-color: #fff4e9;
  width:100%;
  margin-top: 70px;
  vertical-align: middle;
  padding-top: 27.3%;
  padding-bottom: 27.3%;
  font-family: 'Elsie', cursive;
}

.ab-box2 {
  background-color: white;
  width:100%;
  margin-top: 70px;
  vertical-align: middle;
  padding-top: 31%;
  padding-bottom: 1%;
  font-family: 'Elsie', cursive;
}

.ab-desc1 {
  font-size: 70px;
  margin-bottom: 0;
  color: black;
  text-align: center;
  text-transform: none;
  font-family: 'Raleway', sans-serif;
  margin-top: -50px;
}

.ab-desc2 {
  font-size: 35px;
  text-transform:lowercase;
  color: black;
  display: flex;
  justify-content: flex-end;
  padding-right: 170px;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  margin-top: -60px;
}

.ab-desc3 {
  font-size: 18px;
  color: black;
  display: flex;
  padding-left: 150px;
  padding-right: 130px;
  font-family: 'Roboto', sans-serif;
}
/* ABOUT PAGE END*/

/* EXHIBITION PAGE*/
.exhibition-images {
  display: -ms-flexbox; /* IE 10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE 10 */
  flex-wrap: wrap;
  margin-left: 35px;
  margin-bottom: 300px;
}

.column-exhibition {
  -ms-flex: 50%; /* IE 10 */
  flex: 50%;
  padding: 0 13px;
}

.column-exhibition img {
  margin-top: 70px;
  vertical-align: middle;
}

.exhibition-item {
  text-decoration:none;
}

.ex-box1 {
  background-color: #f9f9f9;
  width:100%;
  margin-top: 70px;
  vertical-align: middle;
  padding-top: 15.3%;
  padding-bottom: 15.3%;
  font-family: 'Elsie', cursive;
}

.ex-box2 {
  background-color: #f9f9f9;
  width:100%;
  margin-top: 70px;
  vertical-align: middle;
  padding-top: 8.5%;
  padding-bottom: 8.5%;
  font-family: 'Elsie', cursive;
}

.ex-head1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: -10px;
  color: black;
  text-align: center;
  margin-top: -22px;
  padding-right: 60px;
  font-family: 'Elsie', cursive;
}

.ex-head2 {
  font-size: 18px;
  text-transform:lowercase;
  color: black;
  display: flex;
  justify-content: flex-end;
  padding-right: 155px;
  text-align: center;
}

.ex-head3 {
  font-size: 18px;
  color: black;
  display: flex;
  padding-left: 150px;
  padding-right: 130px;
  font-family: 'Raleway', sans-serif;
}

.ex-head4 {
  font-size: 18px;
  text-transform:lowercase;
  color: black;
  display: flex;
  justify-content: flex-end;
  padding-right: 385px;
  text-align: center;
}

.ex-head5 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: -10px;
  color: black;
  text-align: center;
  margin-top: -22px;
}

.ex-head7 {
  font-size: 18px;
  color: black;
  display: flex;
  padding-left: 150px;
  padding-right: 130px;
  font-family: 'Raleway', sans-serif;
}

.exhibition-solo {
  width: 100%;
  text-align: center;
  margin-top: 450px;
}
video {
  text-align: center;
  margin-left: 190px;
}

.exhibition-title {
  font-family: 'Raleway', sans-serif;
  margin-top: 70px;
  width: 100%;
  font-size: 27px;
  margin-bottom: -60px;
}

.exhibition-subtitle {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}
/* EXHIBITION PAGE END*/

/* CONTACT PAGE*/
input[type=text], select, textarea {
width: 100%; /* Full width of container*/
outline:none; /* This prevents the default border around the input boxes*/
display:  block;
padding: 12px; /* Some padding */
border: 1px solid #bababa; /* Gray border */
border-radius: 4px; /* Rounded borders */
box-sizing: border-box; /* Make sure that padding and width stays in place */
margin-top: 6px; /* Add a top margin */
margin-bottom: 16px; /* Bottom margin */
resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

::placeholder {
color:#bababa;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
background-color: #0b3345;
color: white;
padding: 12px 20px;
border: none;
border-radius: 20px;
cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
background-color: #b2643c;
}

/* Add a background color and some padding around the form */
.container {
border-radius: 5px;
padding: 20px;
margin: auto;
width: 50%;
}

h1 {
display: block;
width: 50%;
margin: auto;
text-transform: uppercase;
text-align: center;
font-size: 25px;
padding-top: 70px;
padding-bottom: 50px;
}
/* CONTACT PAGE END*/

/* FOOTER*/
footer {
  margin: 75px 0 0 12px;
  background: white;
  width: 100%;
  height: 40px;
}

.footer-components {
  display: flex;
  justify-content:center;
}

.social-icons {
  display: flex;
  padding-left: 140px;
}

.social-items {
  padding: 20px 20px 0 7px;
}

.fab:hover {
    color: 0.7;
}

.fab {
  background: white;
  color: #0b3345;
  padding: 1px;
  font-size: 20px;
}

.copy {
  text-decoration: none;
  font-size: 15px;
  position: relative;
  right: 730px;
  padding-top: 25px;
  font-family: 'Raleway', sans-serif;
}
/* FOOTER END*/
